h1 {
  text-align: center;
}
.column {
  width: 450px;
  float: none;
  padding: 6px;
}
img {
  float: none;
  padding: 6px;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
.sidebar {
  width: 30%;
  float:right;
  background-color: gray;
  border: 4px solid blue;
  margin: 8px;
  padding: 4px;
}
