h1 {
  text-align: center;
}
.column {
  width: 450px;
  float: none;
}
img {
  float: none;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
.sidebar {
  width: 30%;
  float:right;
  background-color: gray;
}
